In [1]:
import numpy as np
import pandas as pd
import warnings
from pathlib import Path

from gluonts.dataset.common import load_datasets, TrainDatasets
from tqdm.auto import tqdm

In [2]:
datasets_path = Path("/home/ubuntu/data/datasets/")
evaluations_path = Path("/home/ubuntu/evaluations/")
experiment = "agts-medium-0-5-1"

## Collect AutoGluon leaderboards for each dataset
Before this we need to download the results with
```bash
tsbench evaluations download \
    --experiment agts-medium-0-5-1 \
    --include_forecasts=False \
    --include_leaderboard=True
```

In [3]:
def get_leaderboards(evaluations_path: Path, experiment: str):
    results = []
    source = Path(evaluations_path)
    source = Path.joinpath(source, experiment, "autogluon")
    for ds_dir in sorted(source.iterdir()):
        ds = ds_dir.name
        hparam_dirs = list(ds_dir.iterdir())
        assert len(hparam_dirs) == 1, "There should only be 1 hyperparam setting per dataset for AutoGluon"
        for hp_dir in hparam_dirs:
            lb = pd.read_csv(hp_dir / "leaderboard.csv", index_col=0)
            df = pd.concat({ds: lb}, names=["dataset"])
            results.append(df)
    return pd.concat(results)

lbs = get_leaderboards(evaluations_path, experiment)
dsets_with_results = lbs.index.unique(level=0)

## Dataset statistics

In [4]:
# Collected manually from https://forecastingdata.org/
HAS_MISSING = {"london_smart_meters", "wind_farms", "bitcoin", "vehicle_trips", "kdd_2018", "nn5", "car_parts", "rideshare", "temperature_rain"}
IS_MULTIVARIATE = {"nn5", "solar", "electricity", "car_parts", "fred_md", "san_francisco_traffic", "rideshare", "hospital", "covid_deaths", "temperature_rain"}

In [5]:
def get_stats(dset: TrainDatasets, name: str) -> dict:
    lens_train = np.array([len(s["target"]) for s in dset.train])
    meta = dset.metadata
    num_train = len(dset.train)
    num_test = len(dset.test)
    return {
        "dataset": name,
        "num_series_train": num_train,
        "num_series_test": num_test,
        "separate_test": num_train != num_test,
        "min_len": lens_train.min(),
        "max_len": lens_train.max(),
        "prediction_length": meta.prediction_length,
        "freq": meta.freq,
        "has_missing": name in HAS_MISSING,
        "multivariate": name in IS_MULTIVARIATE,
        "num_static_feat": len(meta.feat_static_cat) + len(meta.feat_static_real),
        "tsbench_failed": name not in dsets_with_results,
    }

dataset_stats = []
for dset_path in tqdm(list(sorted(datasets_path.iterdir()))):
    warnings.filterwarnings(action="ignore", category=FutureWarning)
    data_dir = dset_path / "gluonts"
    # Load validation set since the train set doesn't contain the validation period
    dset = load_datasets(data_dir, data_dir / "val", data_dir / "test", )
    stats = {**get_stats(dset, dset_path.name)}
    dataset_stats.append(stats)
stats_df = pd.DataFrame(dataset_stats).set_index("dataset")

  0%|          | 0/44 [00:00<?, ?it/s]

In [14]:
stats_df = pd.DataFrame(dataset_stats).set_index("dataset").sort_values(by=["tsbench_failed", "dataset"])

Compute summary statistics for each dataset in the benchmark.
- `num_series_train`: Number of series in the training set.
- `num_series_test`: Number of series in the test set.
- `separate_test`: If `True`, test series are different from the training series. If `False`, test set consists of continuations of train series.
- `min_len`: Minimum length of series in the training set.
- `max_len`: Maximum length of series in the training set.
- `prediction_length`: Number of time steps for which the predictions must be generated.
- `freq`: Frequency of measurements in the time series.
- `has_missing`: Contains missing values that were replaced by zeros.
- `multivariate`: Originally a multivariate time series broken down into individual components.
- `num_static_feat`: Number of static features.
- `tsbench_failed`: `tsbench` failed on this dataset or did not finish in 24 hours. Need to figure out why this happened!

In [15]:
stats_df

,num_series_train,num_series_test,separate_test,min_len,max_len,prediction_length,freq,has_missing,multivariate,num_static_feat,tsbench_failed
dataset,,,,,,,,,,,
australian_electricity_demand,5,5,False,230688,232224,48,0.5H,False,False,1,False
bitcoin,17,17,False,2629,4551,30,D,True,False,1,False
car_parts,2658,2658,False,39,39,12,M,True,True,1,False
cif_2016,72,72,False,16,108,12,M,False,False,1,False
covid_deaths,230,230,False,182,182,30,D,False,True,1,False
exchange_rate,8,40,True,6071,6071,30,B,False,False,1,False
fred_md,107,107,False,716,716,12,M,False,True,1,False
hospital,767,767,False,72,72,12,M,False,True,1,False
kdd_2018,270,270,False,9456,10872,48,H,True,False,1,False
m1_monthly,617,617,False,30,132,18,M,False,False,1,False
m1_quarterly,203,203,False,10,106,8,Q,False,False,1,False
m1_yearly,181,181,False,9,52,6,Y,False,False,1,False
m3_monthly,1428,1428,False,48,126,18,M,False,False,2,False
m3_other,174,174,False,63,96,8,Q,False,False,2,False
m3_quarterly,756,756,False,16,64,8,Q,False,False,2,False
m3_yearly,645,645,False,14,41,6,Y,False,False,2,False
m4_hourly,414,414,False,700,960,48,H,False,False,1,False
m4_quarterly,24000,24000,False,16,866,8,Q,False,False,1,False
m4_weekly,359,359,False,80,2597,13,W,False,False,1,False
m4_yearly,22974,22974,False,13,278,6,Y,False,False,1,False
nn5,111,111,False,735,735,56,D,True,True,1,False
pedestrian_count,66,66,False,528,96376,48,H,False,False,1,False
rideshare,2304,2304,False,493,493,48,H,True,True,1,False
solar,137,959,True,7009,7009,24,H,False,True,1,False
temperature_rain,32053,32053,False,695,695,30,D,True,True,1,False
tourism_monthly,366,366,False,67,309,24,M,False,False,1,False
tourism_quarterly,427,427,False,22,122,8,Q,False,False,1,False
tourism_yearly,518,518,False,7,43,4,Y,False,False,1,False
vehicle_trips,314,314,False,40,213,30,D,True,False,1,False
corporacion_favorita,171091,171091,False,19,1672,16,D,False,False,2,True
dominick,115163,115163,False,20,385,8,W,False,False,1,True
electricity,321,2247,True,21044,21044,24,1H,False,True,1,True
london_smart_meters,5559,5559,False,240,39600,48,0.5H,True,False,1,True
m4_daily,4227,4227,False,93,9919,14,D,False,False,1,True
m4_monthly,48000,48000,False,42,2794,18,M,False,False,1,True
m5,30490,30490,False,1885,1885,28,D,False,False,5,True
restaurant,823,823,False,42,439,39,D,False,False,1,True
rossmann,1115,1115,False,710,894,48,D,False,False,1,True
san_francisco_traffic,862,862,False,17496,17496,48,H,False,True,1,True
taxi,1214,67984,True,1488,1488,24,30min,False,False,1,True
walmart,2934,2934,False,42,104,39,W,False,False,2,True
weather,3010,3010,False,1302,65951,30,D,False,False,1,True
wiki,9535,47675,True,762,762,30,D,False,False,1,True
wind_farms,313,313,False,102845,526980,60,min,True,False,1,True

In [16]:
stats_df.to_csv("datasets_stats.csv")

## Quantify overfitting on the validation set

In [9]:
from scipy.stats import kendalltau, spearmanr

In [10]:
agreement = []
for dset in dsets_with_results:
    subset = lbs.loc[dset]
    tau = kendalltau(subset["score_test"], subset["score_val"]).correlation
    r = spearmanr(subset["score_test"], subset["score_val"]).correlation
    agreement.append({"dataset": dset, "kendalltau": tau, "spearmanr": r})
agreement = pd.DataFrame(agreement)

agreement

/home/ubuntu/tsbench/.venv/lib/python3.8/site-packages/scipy/stats/stats.py:4484: SpearmanRConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  warnings.warn(SpearmanRConstantInputWarning())

                          dataset  kendalltau  spearmanr
0   australian_electricity_demand    0.866667   0.942857
1                         bitcoin    0.066667   0.142857
2                       car_parts    0.733333   0.885714
3                        cif_2016    0.333333   0.600000
4                    covid_deaths    1.000000   1.000000
5                   exchange_rate   -0.200000  -0.542857
6                         fred_md    0.066667   0.200000
7                        hospital    0.600000   0.771429
8                        kdd_2018    0.333333   0.485714
9                      m1_monthly    0.466667   0.600000
10                   m1_quarterly    0.200000   0.300000
11                      m1_yearly    0.800000   0.900000
12                     m3_monthly    0.866667   0.942857
13                       m3_other    0.466667   0.542857
14                   m3_quarterly    0.866667   0.942857
15                      m3_yearly    0.733333   0.885714
16                      m4_hourly    1.000000   1.000000
17                   m4_quarterly    0.666667   0.800000
18                      m4_weekly    0.866667   0.942857
19                      m4_yearly    0.200000   0.500000
20                            nn5    1.000000   1.000000
21               pedestrian_count    0.733333   0.828571
22                      rideshare    0.333333   0.485714
23                          solar   -0.066667   0.085714
24               temperature_rain         NaN        NaN
25                tourism_monthly    0.466667   0.600000
26              tourism_quarterly    0.333333   0.371429
27                 tourism_yearly    0.333333   0.542857
28                  vehicle_trips    0.866667   0.942857